name: CI - Test Action

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Run a one-line script
        uses: ./ # Uses an action in the root directory
        with:
          firstname: 'louis-guillaume'
